HELP.md
target/
build/

### Maven ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
*.war
*.ear

### Java ###
*.class
*.log

### OS Files ###
.DS_Store
Thumbs.db

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Environment files ###
.env
*.env

bookstore-frontend/node_modules/